{

  "root": true,

  "env": {
    "browser": true,
    "jquery": true
  },


  "extends": "htmlacademy/es5",

  "overrides": [
    {
      "files": ["source/js/*.js"],
        "rules": {
          "new-cap": 0,
       }
    }
  ]
}
