.footer-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 98px;

  @media (max-width: 1500px) {
    margin-left: 0;
  }

  @media (max-width: $desktop-width) {
    margin-top: 38px;
    margin-left: 25px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 28px 4.6%;

    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }
}

.footer-nav__bar {
  display: flex;
  justify-content: space-between;
}

.footer-nav__bar h2 {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $desktop-width) {
    margin-bottom: 24px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer-nav__toggle {
  position: relative;
  display: none;

  @media (max-width: $tablet-width) {
    display: block;

    width: 16px;
    height: 16px;

    border: 0;
    background-color: transparent;
    cursor: pointer;

    &--hidden {
      display: none;
    }

    &:focus {
      outline: 1px solid $blue;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      margin-left: 0;
      width: 16px;
      height: 1px;

      background-color: #c4c4c4;
      box-shadow: none;
    }

    &::after {
      margin-left: 8px;
      transform: translate(-50%, -50%) rotate(-90deg);
    }

    &:focus::before,
    &:focus::after {
      background-color: $blue-dark;
    }
  }
}

.footer-nav__toggle--open {
  &::after {
    display: none;
  }
}


.footer-nav__links {
  @include list-reset;
  width: 555px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 1500px) {
    width: auto;
    flex-direction: column;
  }

  @media (max-width: $tablet-width) {
    margin-top: 28px;

    &--closed {
      display: none;
    }
  }
}

.footer-nav__links li {
  width: 245px;

  @media (max-width: 1500px) {
    &:nth-child(2n) {
      order: 5;
    }
  }
}

.footer-nav__links a {
  position: relative;

  font-size: 15px;
  line-height: 25px;
  font-family: $ptmono;
  color: $blue-50;
  text-decoration: none;
  transition: 0.2s;

  &:hover,
  &:focus {
    color: $blue-dark;
    outline: 0;
    text-decoration: underline;
  }

  &:active {
    color: $blue-80;
    text-decoration: none;
  }

  &::after {
    @include blank-pseudo;
  }
}
