.page-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 65px;

  @media (max-width: $desktop-width) {
    padding-top: 0;
  }
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0 calc(50% - 705px) 52px;
  width: 100%;

  border-bottom: 1px solid rgba(98, 105, 98, 0.2);

  @media (max-width: 1500px) {
    padding: 0 25px 59px;
  }

  @media (max-width: $desktop-width) {
    flex-wrap: wrap;
    padding: 0 0 35px;
  }

  @media (max-width: $tablet-width) {
    padding: 0;
    border-bottom: 0;
  }
}
