.page {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-size: 16px;
  line-height: 22px;
  font-family: $roboto;
  color: $blue-dark;
  background-color: $white;

  counter-reset: section;

  &--lock {
    overflow-y: hidden;
  }
}
