/*colors*/

$white: #ffffff;
$grey: #666666;

$blue: #00b2ff;
$blue-dark: #1b2d37;

$white-10: rgba(255, 255, 255, 0.1);
$white-80: rgba(255, 255, 255, 0.8);
$blue-50: rgba(27, 45, 55, 0.5);
$blue-80: rgba(27, 45, 55, 0.8);
$black-50: rgba(0, 0, 0, 0.5);

/*device size*/
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$desktop-full-width: 1920px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/*fonts*/
$ptmono: "PT Mono", "Courier", monospace;
$roboto: "Roboto Condensed", "Helvetica", sans-serif;
